/* Customize the scrollbar track */
.smooth-scroll::-webkit-scrollbar {
    width: 2px;
    border-radius: 2px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
.smooth-scroll::-webkit-scrollbar-thumb {
    background-color: #5D5D5D; /* Set the color of the thumb */
    border-radius: 24px;
}

/* Customize the scrollbar track (the non-draggable part) */
.smooth-scroll::-webkit-scrollbar-track {
    background-color: #D9D9D9; /* Set the color of the track */
    border-radius: 24px;
}

select {
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
  }

  @media (max-width: 768px) {
    .products{
        flex-direction: column-reverse;        
    }
    .products ul{
        margin-top: 20px;
    }
}

.shade {
    width: 100%;
    height: 100%; /* Adjust height if needed */
    background-color: white;
    opacity: 0.55; /* Adjust opacity for desired shade */
    z-index: 0; /* Adjust z-index if needed */
  }
  








  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #000000;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #000000;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #000000;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }