.grays {
    background-color: white;
    opacity: 0.45;
    z-index: 0; 
  }

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: '✔';
  font-size: 10px;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px; 
  border: 1.5px solid #000;
  background-color: #070707;
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:before {
  background-color: rgb(241, 241, 245);
  color: black;
}

input[type="checkbox"] + label:after {
  content: '';
  padding-left: 10px;
}

