*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.spotlight{
    background-image: url("../images/home/Banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{
    background-image: url("../images/home/Banner2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}




